SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_ENVIRONMENT=production
SENTRY_RELEASE=cato@0.1.0+1
PRIVACY_POLICY_URL=https://gist.github.com/LuDraGa/a934812433d827796414ee475d189628
SPLIT_DEBUG_INFO_DIR=build/sentry-debug-info
